
body {
	margin: 0;
	background-color: #263238;
}

h1 {
	margin-bottom: 10px;
	font-size: 70px;
	font-size: 70px;
	font-family: Arial, sans-serif;
}

h2 {
	font-family: Arial, sans-serif;
	font-weight: 200;
}

h3 {
	font-size: 24px;
	font-family: Helvetica, cambria, sans-serif;
	color: whitesmoke;
	text-align: center;
}

nav {
	height: 70px;
	display: flex;
	background-color: #009587;
	align-items: center;
	justify-content: space-between;
	padding: 0px 20px;
}

nav a {
	color: whitesmoke;
}

nav a:hover {
	opacity: 0.4;
}

nav a:unvisited {
	color: whitesmoke;
}

nav a:active {
	color: yellow;
}

nav a:visited{
	color: #263238;
}

ul li {
	display: inline-block;
	color: whitesmoke;
}

ul {
	padding-left: 0px;
}

a {
	text-decoration: none;
	margin: 0px 20px;
}

.main-banner {
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	text-align: center;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: whitesmoke;
	position: relative;
}

#home-banner {
	background-image: linear-gradient(30deg, rgba(0,0,0,0.3), rgba(50,50,50,0.6)), url("../assets/banner-image.jpg");
}

#egypt-banner {
	background-image: linear-gradient(30deg, rgba(0,0,0,0.3), rgba(50,50,50,0.6)), url("http://images.kuoni.co.uk/73/luxor-hotel-and-casino-29028599-1446220647-ImageGalleryLightboxLarge.jpg");
}

#country-titles{
	font-family: Arial, sans-serif;
	font-size: 20px;
	color: whitesmoke;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 250px;
}

.align-left {
	text-align: left;
	text-decoration: underline;
}

.align-right {
	text-align: right;
	text-decoration: underline;
}

.credits {
	margin: 0;
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: whitesmoke;
} 

.credits-left {
	margin: 0;
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: whitesmoke;
	margin-right: 50px;
}

.credits-center {
	text-align: center;
}

.wrapper {
	height: 250px;
	padding: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.wrapper-second-page {
	height: 250px;
	padding: 40px;
}

.wrap{
	padding: 40px;
}

ol li {
	font-size: 24px;
	font-family: Arial, sans-serif;
	font-weight: 200;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	background-color: #F4F4F4;
	color: whitesmoke;
	padding: 0px 30px;
	margin-top: 30px;
}

footer a {
	color: #009587;
}

footer a:hover {
	color: #263238;
}

footer a:active {
	color: yellow;
}

footer > p { 
	color: #009587;
}

footer li {
	font-size: 30px;
}

#centered-image {
	display: block;
	margin: auto;
}

img {
	height: 250px;	
}

img:hover {
	opacity: 0.4;
}
